{% extends 'base.html' %}
{% block title %}Documentos{% endblock %}
{% block corpo %}

<div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Disciplina</th>
                  <th>Professor</th>
                <th>Nota 1</th>
                <th>Nota 2</th>
                <th>Nota 3</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for disciplina in lista_disciplinas %}

            <tr>
                <td>
                    <a href="/item/{{ disciplina.id }}/">
                    {{ disciplina.nome }}
                    </a>
                </td>

                <td>{{ disciplina.professor }}</td>
                <td>{{ disciplina.n1 }}</td>
                <td>{{ disciplina.n2 }}</td>
                <td>{{ disciplina.n3 }}</td>


                <td>
                    <a href="/item/{{ disciplina.id }}/" class="glyphicon glyphicon-edit">
                    </a>
                </td>
                <td>
                    <a href="/remove/{{ disciplina.id }}/" class="glyphicon glyphicon-trash">
                    </a>
                </td>
                {% empty %}
                <td>
                  Ainda não há disciplinas cadastradas
                </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
{% endblock %}