{% extends 'base.html' %}
{% block title %}Documentos{% endblock %}
{% block corpo %}

<div class="row">
          <table class="table">
            <thead>
              <tr>
                <th>Documentos</th>
                  <th>Nome</th>
                <th>introdução</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
            {% for modeloArquitetura in lista_documentos %}

            <tr>
                <td>
                    <a href="/item/{{ modeloArquitetura.id }}/">
                    {{ modeloArquitetura.nome }}
                    </a>
                </td>

                <td>{{ modeloArquitetura.introducao }}</td>

                <td>
                    <a href="/item/{{ modeloArquitetura.id }}/" class="glyphicon glyphicon-edit">
                    </a>
                </td>
                <td>
                    <a href="/remove/{{ modeloArquitetura.id }}/" class="glyphicon glyphicon-trash">
                    </a>
                </td>
                {% empty %}
                <td>
                  Ainda não há disciplinas cadastradas
                </td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
{% endblock %}