<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

Nome: {{projeto.nome}}
<br>

Descrição: {{projeto.descricao}}
<br>

Introdução: {{projeto.introducao}}
<br>

Objetivo: {{projeto.objetivo}}
<br>

Autores:
<br>
{% for autor in projeto.autores.all %}
{{autor.username}},
{%empty%}
Nenhum autor.
{%endfor%}
<br>

Tecnologias:
<br>
{% for tecnologia in projeto.tecnologias.all %}
    Descrição: {{tecnologia.descricao}}
    <br>
    Razão do uso: {{tecnologia.razaoUso}}
    <br>
    APIs:
    {% for api in tecnologia.api.all %}
        {{api.nome}},
        {% empty %}
            Nenhuma API
    {% endfor %}
<br>

{% empty %}
Sem entradas
{% endfor %}

Introducao cenário de qualidade: {{projeto.introducao_qualidade}}
<br>
Referências cenário de qualidade: {{projeto.referencias_qualidade}}
<br>

{% for referencia in referencias %}
    {{referencia.titulo}}
    <br>
{% endfor %}

{% if link_to_pdf == True %}
    <a href="/canary/projeto/{{ projeto.id }}/pdf">Gerar PDF</a>
{%endif%}

</body>
</html>