<!DOCTYPE html>
<html>
<head>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>Canary - [CNRY]</title>
    <style>
        .ident{
        text-indent: 50px;"
        }
        .limp{
        list-style-type: none;
        }
        .local{
        position: absolute;
        right: 105px;
        top: 110px;
        }
        .local-2{
        position: absolute;
        right: 205px;
        top: 110px;
        }
    </style>
</head>

<body class="dashboard">
<!-- Container -->
<div class="container">

    <!-- Header -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <span id="site-name"><a href="/admin/" class="navbar-brand">Canary- [CNRY]</a></span>

                </div>
            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="row">
        <div class="col-sm-12">
            <br><br><br>
            <ul class="breadcrumb">
                <li>Arquitetura</li>
            </ul>

        </div>
    </div>

    <div class="blog-header">
        <h1 class="blog-title text-uppercase text-center">{{ arquitetura.nome }}</h1>
        <hr>
    </div>
    <div class="row" style="word-wrap: break-word;">
        {% block content %}

        <h4>Nome:</h4>

        <p class="ident">{{arquitetura.nome}}</p><br>

        <h4>Descrição:</h4>

        <p class="ident">{{arquitetura.descricao}}</p><br>

        <h4>Introdução:</h4>

        <p class="ident">{{arquitetura.introducao}}</p><br>

        <h4>Objetivo:</h4>

        <p class="ident">{{arquitetura.objetivo}}</p><br>

        <h4>Autores:</h4>
        {% for autor in arquitetura.autores.all %}
        <p class="ident">{{autor.username}}</p><br>
        {%empty%}
        Nenhum autor.
        {%endfor%}
        <br>

        <h4>Tecnologias:</h4>
        <br>
        {% for tecnologia in arquitetura.tecnologias.all %}
        <h5>Descrição:</h5>

        <p class="ident">{{tecnologia.descricao}}</p><br>
        <h5>Razão do uso:</h5>

        <p class="ident">{{tecnologia.razaoUso}}</p><br>
        <h5>APIs:</h5>
        {% for api in tecnologia.api.all %}
        <p class="ident">{{api.nome}}</p><br>
        {% empty %}
        Nenhuma API
        {% endfor %}
        <br>

        {% empty %}
        Sem entradas
        {% endfor %}

        <h4>Introducao cenário de qualidade:</h4>
        <p class="ident">{{arquitetura.introducao_qualidade}}</p><br>

        <h4>Referências cenário de qualidade:</h4>
        <p class="ident">{{arquitetura.referencias_qualidade}}</p><br>

        <h4>Referências:</h4>
        {% for referencia in referencias %}
        <p class="ident">Título: {{referencia.titulo}}</p>
        <p class="ident">Descrição: {{referencia.descricao}}</p>
        <p class="ident">Autores: {{referencia.autores}}</p><br>
        {% endfor %}

        <h4>Atributos de Qualidade:</h4>
        <p class="ident">Funcionamento: {{arquitetura.attrQualidade.funcionamento}}</p>
        <p class="ident">Confiabilidade: {{arquitetura.attrQualidade.confiabilidade}}</p>
        <p class="ident">Usabilidade: {{arquitetura.attrQualidade.usabilidade}}</p>
        <p class="ident">Eficiência: {{arquitetura.attrQualidade.eficiencia}}</p>
        <p class="ident">Manutenabilidade: {{arquitetura.attrQualidade.manutenibilidade}}</p>
        <p class="ident">Portabilidade: {{arquitetura.attrQualidade.portabilidade}}</p><br>

        <h4>Features Funcionais:</h4>
        {% for funcional in featuresFuncionais %}
         <p class="ident">Nome: {{funcional.nome}}</p>
         <p class="ident">Descrição: {{funcional.descricao}}</p><br>
        {% empty %}
        Sem entradas
        {% endfor %}

        <h4>Features Não Funcionais:</h4>
        {% for naoFuncional in featuresNaoFuncionais %}
        <p class="ident">Nome: {{naoFuncional.nome}}</p>
        <p class="ident">Descrição: {{naoFuncional.descricao}}</p>
        <p class="ident">Fonte: {{naoFuncional.fonte}}</p>
        <p class="ident">Estimulo: {{naoFuncional.estimulo}}</p>
        <p class="ident">Ambiente: {{naoFuncional.ambiente}}</p>
        <p class="ident">Artefato: {{naoFuncional.artefato}}</p>
        <p class="ident">Resposta: {{naoFuncional.resposta}}</p>
        <p class="ident">Medição: {{naoFuncional.medicao}}</p><br>

        {% empty %}
        Sem entradas
        {% endfor %}

        <h4>Pontos de Vista:</h4>
        {% for pontoDeVista in pontosDeVista %}
        <h5>Ponto de Vista #{{ forloop.counter }}</h5>
        <p class="ident">Resumo: {{pontoDeVista.resumo}}</p>
        <p class="ident">Stakeholders: {{pontoDeVista.stakeholders}}</p>
        <p class="ident">Preocupação: {{pontoDeVista.preocupacao}}</p>
        <p class="ident">Detalhamento Visão Estrutural: {{pontoDeVista.get_detalheVisaoEstrutural_display}}</p>
        <p class="ident">Detalhamento Visão Comportamental: {{pontoDeVista.get_detalheVisaoComportamental_display}}</p>
        <br>

        <h4 class="ident">Visões estruturais:</h4>
        {% for estrutural in pontoDeVista.visaoEstrutural.all %}
        <h6 class="ident">Visão estrutural #{{ forloop.counter }}</h6>
        <p class="ident">Apresentação: {{estrutural.apresentacao}}</p>
        <p class="ident">Estilos da arquitetura: {{estrutural.estilosArquitetura}}</p>

        <h4 class="ident">Módulos:</h4>
        {% for modulo in estrutural.modulos.all %}
        <h6 class="ident">Modulo #{{ forloop.counter }}</h6>
        <p class="ident">Descrição: {{modulo.descricao}}</p>
        <p class="ident">Features Relacionadas: {{modulo.featuresRelacionadas}}</p>

        <h4 class="ident">Componentes:</h4>
        {% for componente in modulo.componentes.all %}
        <h6 class="ident">Componente #{{ forloop.counter }}</h6>
        <p class="ident">Descrição: {{componente.descricao}}</p>
        <p class="ident">Features Relacionadas: {{componente.featuresRelacionadas}}</p>
        <p class="ident">Padrão do Desing: {{componente.padraoDesing}}</p>


        <br>

        {% empty %}
        Sem entradas
        {% endfor %}

        {% empty %}
        Sem entradas
        {% endfor %}

        {% empty %}
        Sem entradas
        {% endfor %}

        <h4 class="ident">Visões comportamentais:</h4>
        {% for comportamental in pontoDeVista.visaoComportamental.all %}
        <h6 class="ident">Visão comportamental #{{ forloop.counter }}</h6>
        <p class="ident">Diagrama:</p>
        <div class="ident"><img width="800" height="600" src="{{ comportamental.diagrama.url }}" /></div>
        <p class="ident">Features: {{comportamental.feature}}</p>
        <p class="ident">Variavel ID: {{comportamental.variavelID}}</p>
        <p class="ident">Features Relacionadas: {{comportamental.featureRelacionadas}}</p>


        <br>

        {% empty %}
        Sem entradas
        {% endfor %}

        {% empty %}
        Sem entradas
        {% endfor %}

        {% if link_to_pdf == True %}
        <a href="/canary/arquitetura/{{ arquitetura.id }}/pdf">Gerar PDF</a>
        {%endif%}
        {% endblock %}
    </div>


    <footer id="footer"></footer>
</div>
<!-- END Container -->

</body>


</html>