<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/jquery.vegas.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
      </div>
    </nav>

   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><li><a href="/"><span class="glyphicon glyphicon-list"></span> Home</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"> {% block title %}{% endblock %}</h1>
            <div class="col-md-8">
            <div class="panel panel-default">
              <div class="panel-body">
                {% block corpo %}{% endblock %}
              </div>
            </div>

            </div>
        </div>
      </div>
    </div>
  </div>


    <!-- JS -->
    <script src="{{ STATIC_URL }}js/jquery-2.1.3.min.js"></script>
    <script src={{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/docs.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.vegas.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ STATIC_URL }}js/ie10-viewport-bug-workaround.js"></script>
    <script src="{{ STATIC_URL }}js/scripts.js"></script>
  </body>
</html>
