<html>
<head>
    <title>Pesquisar</title>
</head>
<body>
    <form action="/pesquisar/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Pesquisar">
        <br>
        <input type="radio" name="por" value="decisao" checked>Decisão
        <input type="radio" name="por" value="padrao">Padrão
        <input type="radio" name="por" value="tippadrao">Tipo de Padrão
        <input type="radio" name="por" value="tipdecisao">Tipo de Decisão
    </form>
</body>
</html>