<!DOCTYPE html>
<html>
<head>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <title>Siliqua - [SLQA]</title>
</head>

<body class="dashboard">
	<!-- Container -->
	<div class="container">

    <!-- Header -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

	<span id="site-name"><a href="/admin/" class="navbar-brand">Siliqua - [SLQA]</a></span>

    </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">

                        <li class="dropdown">
                            <a href="http://127.0.0.1:8000/admin" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><strong> Admin</strong></a>
                        </li>

                        <li class="divider-vertical">
                        </li>
                        <li>
                            <a href="http://127.0.0.1:8000/form_pesquisa" class="dropdown-toggle" ><span class="glyphicon glyphicon-search"></span><strong> Pesquisar</strong></a>
                        </li>
                    </ul>

                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="row">
        <div class="col-sm-12">
    <br><br><br>
    <ul class="breadcrumb"><li>Pesquisar</li></ul>

        </div>
    </div>

    <form action="/pesquisar/" method="get">
        <div class="form-group">
            <input class="form-control" type="text" name="q" placeholder="Digite um termo para buscar..." required>

        </div>
            <br>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="por" value="decisao" checked><label>Decisão</label>
            </label>
            <label class="radio-inline">
                <input type="radio" name="por" value="padrao"><label>Padrão</label>
            </label>
            <label class="radio-inline">
                <input type="radio" name="por" value="tippadrao"><label>Tipo de Padrão</label>
            </label>
            <label class="radio-inline">
                <input type="radio" name="por" value="tipdecisao"><label>Tipo de Decisão</label>
            </label>
        </div>
        <div class="form-group">
            <input class="btn btn-primary btn-lg" style="float: right" type="submit" value="Pesquisar">
        </div>
        <div style="clear: both"></div>
    </form>

    <footer id="footer"></footer>
</div>
<!-- END Container -->

</body>


</html>