<meta charset="UTF-8">
<style type="text/css">
*{
    word-wrap: break-word;
}
.ident{
    word-wrap: break-word;
  text-indent: 50px;
}
p{
    width: 300px;
    min-height: 100px;
}
.limp{
    word-wrap: break-word;
  list-style-type: none;
}
.siliq{
    background-color: #000000;
    width: 90%;
    height: 80px;
    color: #FFFFFF;
    padding-top: 10px;
}
</style>
<p class="siliq" style = "font-size:20px" align="center">Siliqua - [SLQA]</p>
{% block title %} <p style = "font-size:20px" align="center">Padrão: {{ padrao.nome }}</p>{% endblock %}

{% block content %}
    <div style="word-wrap: break-word;">
        <h4>Aliase:</h4><p class="ident">{{ padrao.aliase }}</p><br>
        <h4>Contexto:</h4><p class="ident">{{ padrao.contexto }}</p><br>
        <h4>Problema:</h4><p class="ident">{{ padrao.problema }}</p><br>
        <h4>Vantagens:</h4><p class="ident">{{ padrao.vantagens }}</p><br>
        <h4>Desvantagens:</h4><p class="ident">{{ padrao.desvantagens }}</p><br>
        <h4>Aplicabilidade:</h4><p class="ident">{{ padrao.aplicabilidade }}</p><br>
        <h4>Referências:</h4><p class="ident">{{ padrao.aplicabilidade }}</p><br>
        <h4>Padrões relacionados:</h4>
        <ul>
        {% for rel in padrao.padroesRelacionados.all %}
              <li class="limp" style="margin-left: 30px;">{{ rel.nome }}</li>
        {% endfor %}<br>
        </ul>

        <h4>Tipo de padrão:</h4><p class="ident">{{ padrao.tipoDePadrao }}</p><br>
        {% if padrao.imagem %}
            <h4>Imagem:</h4><br>
                <img src="{{ padrao.imagem.url }}" width="1500px"/><br>
        {% endif %}
    {% endblock %}