<!DOCTYPE html>
<html>
<head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
</head>

<body class="dashboard">
	<!-- Container -->
    <div class="container">

    <!-- Header -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

	            <span id="site-name"><a href="/admin/" class="navbar-brand">Admin</a></span>

                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="http://127.0.0.1:8000/form_pesquisa" class="dropdown-toggle" ><span class="glyphicon glyphicon-search"></span><strong> Pesquisar</strong></a>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- END Header -->
    <div class="row">
        <div class="row">
            <br><br><br>

            <h1><center>{{modelo.nome}}</center></h1>

            <h3>Nome da Modelo de Arquitetura Avaliado</h3>
                <div>{{ modelo2.nome }}</div>
            <hr>
            <h3>Qualidade</h3>
                <div>{{ modelo.descricao_da_qualidade }}</div>
            <hr>
            <h3>Não Riscos</h3>
                <div>{{ modelo.descricao_de_nao_riscos }}</div>
            <hr>
            <h3>Riscos</h3>
                <div>{{ modelo.descricao_de_riscos}}</div>
            <hr>
            <h3>Arquitetura</h3>
                <a href="{{ modelo.diagrama_de_arquitetura.url }}" target="_blank" class="thumbnail">
                <img src="{{ modelo.diagrama_de_arquitetura.url }}" width="500px" height="335px"></a>
            <hr>
            <h3>Descrição da Arquitetura</h3>
               <div>{{ modelo.descricao_da_arquitetura}}</div>
            <hr>
            <h3>Principais Abordagens</h3>
                 <div>{{ modelo.pricipais_abordagens_da_arquitetura}}</div>
            <hr>
            <h3>Ponto de Sensibilidade</h3>
                <div>{{ modelo.ponto_de_sensibilidade}}</div>
            <hr>
            <h3>Restrições de Sensibilidade</h3>
                <div>{{ modelo.ponto_de_sensibilidade}}</div>
            <hr>
        </div>
            <h3>Trade offs</h3>
           <table class="table" border="1px" style="border-color:green;border-style:solid;">
				<thead>
				<tr>
					<th>Pontos de Trade Off</th>
				</tr>
				</thead>
				<tbody>
				   {% for tradeoff in lista_tradeoff %}
					<tr>
						<td>{{ tradeoff.pontos_de_trade_off }}</td>
					</tr>
				{% endfor %}
            <h3>Diretriz</h3>
            <div>{{ diretriz.diretriz }}</div>
            <h3>Atributos das Diretrizes</h3>
           <table class="table" border="1px" style="border-color:green;border-style:solid;">
				<thead>
				<tr>
					<th>Atributos de Qualidade Afetado</th>
					<th>Estimulo</th>
					<th>Resposta</th>
                    <th>Estratégia</th>
				</tr>
				</thead>
				<tbody>
				   {% for atributos_diretriz in lista_atributos_diretrizes %}
					<tr>
						<td>{{ atributos_diretriz.atributos_de_qualidade_afetado }}</td>
                        <td>{{ atributos_diretriz.estimulo }}</td>
                        <td>{{ atributos_diretriz.resposta }}</td>
                        <td>{{ atributos_diretriz.estrategia }}</td>
					</tr>
				{% endfor %}
				</tbody>
               </table>
    <div class="breadcrumb">
         <table class="table table-bordered">
             <tbody>
                <h4>Recomendamos para você:</h4>
                {% for recomendacao in recomendacoes %}
                <tr>
                    <td><a href="/visualizar_documento/{{ recomendacao.id }}">{{ recomendacao.descricao_da_arquitetura }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer id="footer"></footer>
</div>
        </div>
<!-- END Container -->

</body>
</html>